<div class="drag-drop-container">

  <div cdkDropList class="drag-drop-list" (cdkDropListDropped)="drop($event)">

    <div class="drag-drop-box" *ngFor="let skill of skills; let elementIndex=index;" cdkDrag>
      <app-skill-form
        [skill]="skill"
        [skillIndex]="elementIndex"
        (updateEvent)="onSkillUpdate($event)"
        (deleteEvent)="onSkillDelete($event)"
      />
    </div>

  </div>

  <div class="drag-drop-button-container">

    <button
      mat-mini-fab
      color="accent"
      (click)="addSkill()"
    >
      <mat-icon>add</mat-icon>
    </button>

    <button
      mat-raised-button
      class="drag-drop-form-button"
      color="primary"
      [disabled]="!changed || !valid"
      (click)="onSubmit()"
    >
      Guardar
    </button>

  </div>

</div>
