<mat-card class="item-form-container">

  <form
    class="item-form data-form"
    [formGroup]="experienceForm"
  >

    <mat-form-field class="item-form-input" appearance="fill">
      <input
        matInput
        type="text"
        formControlName="companyName"
        placeholder="Nombre de compañía"
        required
        minlength="3"
      >
      <mat-error *ngIf="companyNameControl.errors?.['required']">El nombre de inst. es requerido</mat-error>
      <mat-error *ngIf="companyNameControl.errors?.['minlength']">El nombre de inst. es corto</mat-error>
    </mat-form-field>

    <mat-form-field class="item-form-input" appearance="fill">
      <input
        matInput
        type="text"
        formControlName="positionName"
        placeholder="Nombre de posición"
        required
        minlength="3"
      >
      <mat-error *ngIf="positionNameControl.errors?.['required']">El título es requerido</mat-error>
      <mat-error *ngIf="positionNameControl.errors?.['minlength']">El título es muy corto</mat-error>
    </mat-form-field>

    <mat-form-field class="item-form-input" appearance="fill">
      <textarea
        matInput
        type="text"
        formControlName="positionInfo"
        placeholder="Info. de posición"
        required
        minlength="3"
      ></textarea>
      <mat-error *ngIf="positionInfoControl.errors?.['required']">El título es requerido</mat-error>
      <mat-error *ngIf="positionInfoControl.errors?.['minlength']">El título es muy corto</mat-error>
    </mat-form-field>

    <mat-form-field class="item-form-input" appearance="fill">
      <input
        matInput
        type="text"
        formControlName="companyImageLink"
        placeholder="Link de la imagen"
        minlength="3"
      >
      <mat-error *ngIf="companyImageLinkControl.errors?.['minlength']">El link es muy corto</mat-error>
    </mat-form-field>

    <div class="date-input-container">

      <mat-form-field class="item-form-input" appearance="fill">
        <input
          matInput
          type="text"
          formControlName="yearMonthFrom"
          placeholder="YYYY-MM desde"
          required
        >
        <mat-error *ngIf="yearMonthFromControl.errors?.['required']">El año desde es requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="item-form-input" appearance="fill">
        <input
          matInput
          type="text"
          formControlName="yearMonthTo"
          placeholder="YYYY-MM hasta"
        >
      </mat-form-field>

    </div>

    <button
      mat-mini-fab
      color="warn"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>

  </form>

</mat-card>
