<mat-card class="item-form-container">

  <form
    class="item-form data-form"
    [formGroup]="experienceForm"
  >

    <mat-form-field class="item-form-input" appearance="fill">
      <input
        matInput
        type="text"
        formControlName="company"
        placeholder="Nombre de compañía"
        required
        minlength="3"
      >
      <mat-error *ngIf="companyControl.errors?.['required']">El nombre de inst. es requerido</mat-error>
      <mat-error *ngIf="companyControl.errors?.['minlength']">El nombre de inst. es corto</mat-error>
    </mat-form-field>

    <mat-form-field class="item-form-input" appearance="fill">
      <input
        matInput
        type="text"
        formControlName="position"
        placeholder="Nombre de posición"
        required
        minlength="3"
      >
      <mat-error *ngIf="positionControl.errors?.['required']">El título es requerido</mat-error>
      <mat-error *ngIf="positionControl.errors?.['minlength']">El título es muy corto</mat-error>
    </mat-form-field>

    <mat-form-field class="item-form-input" appearance="fill">
      <textarea
        matInput
        type="text"
        formControlName="positionInformation"
        placeholder="Info. de posición"
        required
        minlength="3"
      ></textarea>
      <mat-error *ngIf="positionInformationControl.errors?.['required']">El título es requerido</mat-error>
      <mat-error *ngIf="positionInformationControl.errors?.['minlength']">El título es muy corto</mat-error>
    </mat-form-field>

    <mat-form-field class="item-form-input" appearance="fill">
      <input
        matInput
        type="text"
        formControlName="imageLink"
        placeholder="Link de la imagen"
        required
        minlength="3"
      >
      <mat-error *ngIf="imageLinkControl.errors?.['required']">El link es requerido</mat-error>
      <mat-error *ngIf="imageLinkControl.errors?.['minlength']">El link es muy corto</mat-error>
    </mat-form-field>

    <div class="date-input-container">

      <mat-form-field class="item-form-input" appearance="fill">
        <input
          matInput
          type="number"
          formControlName="yearFrom"
          placeholder="Año desde"
          required
        >
        <mat-error *ngIf="yearFromControl.errors?.['required']">El año desde es requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="item-form-input" appearance="fill">
        <input
          matInput
          type="text"
          formControlName="monthFrom"
          placeholder="Mes desde"
          required
          minlength="3"
        >
        <mat-error *ngIf="monthToControl.errors?.['minlength']">El mes es corto</mat-error>
      </mat-form-field>

    </div>

    <div class="date-input-container">

      <mat-form-field class="item-form-input" appearance="fill">
        <input
          matInput
          type="number"
          formControlName="yearTo"
          placeholder="Año hasta"
        >
      </mat-form-field>

      <mat-form-field class="item-form-input" appearance="fill">
        <input
          matInput
          type="text"
          formControlName="monthTo"
          placeholder="Mes hasta"
          minlength="3"
        >
        <mat-error *ngIf="monthToControl.errors?.['minlength']">El mes es corto</mat-error>
      </mat-form-field>


    </div>

    <button
      mat-mini-fab
      color="warn"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>

  </form>

</mat-card>
