<div class="login-container">
  <mat-card class="login-wrapper">

    <mat-card-header class="login-header-container">

      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Accede para editar el portfolio!</mat-card-subtitle>

    </mat-card-header>

    <form
      class="login-form data-form"
      [formGroup]="loginForm"
    >

      <mat-form-field class="login-form-field" appearance="fill">
        <mat-label>Ingresa tu nombre de usuario</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          placeholder="Username"
          required
          minlength="4"
        >
        <mat-error *ngIf="usernameControl.errors?.['required']">El nombre de usuario es requerido</mat-error>
        <mat-error *ngIf="usernameControl.errors?.['minlength']">El nombre de usuario es muy corto</mat-error>
      </mat-form-field>

      <mat-form-field class="login-form-field" appearance="fill">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          placeholder="Password"
          required
          minlength="4"
        >
        <button
          mat-icon-button matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl.errors?.['required']">La contraseña es requerida</mat-error>
        <mat-error *ngIf="passwordControl.errors?.['minlength']">La contraseña es muy corta</mat-error>
      </mat-form-field>

      <button
        mat-raised-button color="primary"
        class="login-button"
        [disabled]="!loginForm.valid"
        (click)="onSubmit()"
      >
        Login
      </button>

    </form>

  </mat-card>
</div>
