<div class="section-container">
  <mat-card class="section-wrapper">

    <mat-card-header>
      <mat-card-title-group class="section-title-container">
        <mat-card-title>{{ experienceData.title }}</mat-card-title>
        <mat-card-subtitle>{{ experienceData.subtitle }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content class="section-items-container experience-items-container">
      <div
        class="section-item-container"
        *ngFor="let experience of experienceData.experiences"
      >
        <img
          class="section-item-img"
          *ngIf="experience.companyImageLink"
          [src]="experience.companyImageLink"
          alt="Experience Logo"
        >
        <div class="section-text-container">
          <div class="section-item-title">
            {{ experience.positionName }}
          </div>
          <div class="experience-item-company">
            En {{ experience.companyName }}
          </div>
          <div>
            {{ experience.positionInfo }}
          </div>

          <!-- FIXME - fix year-month display -->
          <div class="experience-item-date">
            {{ experience.yearMonthFrom }} - {{experience.yearMonthTo || "presente" }}
          </div>
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>



