<div class="section-container">
  <mat-card class="section-wrapper">

    <mat-card-header>
      <mat-card-title-group class="section-title-container">
        <mat-card-title>{{ skillsData.title }}</mat-card-title>
        <mat-card-subtitle>{{ skillsData.subtitle }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content class="skill-items-container">
      <div
        class="skill-item-container"
        *ngFor="let skill of skillsData.skills"
      >
        <circle-progress
          titleColor="#fff"
          [title]="skill.name"
          [subtitle]="skill.percentage.toString() + '%'"
          [percent]="skill.percentage"
        />
      </div>
    </mat-card-content>

  </mat-card>

</div>


