<div class="section-container">
  <mat-card class="section-wrapper">

    <mat-card-header>
      <mat-card-title-group class="section-title-container">
        <mat-card-title>{{ educationData.title }}</mat-card-title>
        <mat-card-subtitle>{{ educationData.subtitle }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content class="section-items-container education-items-container">
      <div
        class="section-item-container"
        *ngFor="let education of educationData.educations"
      >
        <img
          class="section-item-img"
          *ngIf="education.institutionImageLink"
          [src]="education.institutionImageLink"
          alt="Education Logo"
        >
        <div class="section-text-container">
          <div class="section-item-title">
            {{ education.title }}
          </div>
          <div class="education-item-institution">
            En {{ education.institutionName }}
          </div>
          <div class="education-item-date">
            {{ education.yearFrom }} - {{ education.yearTo || presentDateText }}
          </div>
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>



