<div class="section-container">

  <mat-card class="section-wrapper about-me-wrapper">

    <mat-card-header>

      <mat-card-title-group class="section-title-container">

        <mat-card-title>{{ aboutMeData.title }}</mat-card-title>
        <mat-card-subtitle>{{ aboutMeData.subtitle }}</mat-card-subtitle>
        <div class="about-me-img-container">
          <img
            class="about-me-img"
            [src]="aboutMeData.profilePicLink"
          >
          <h4>{{ aboutMeData.profilePicCap }}</h4>
        </div>

      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      {{ aboutMeData.text }}
    </mat-card-content>

  </mat-card>
</div>

